<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to use</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/images/logo.svg" type="image/svg+xml">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manjari&display=swap" rel="stylesheet">
</head>
<body>
    <div class="how-to-use-container">
        <h1>How to use</h1>
        <div class="how-to-use-section">
            <h2>Select no copyright YouTube video</h2>
            <p>Search in YouTube for track you want to play at your special moment. You only can use tracks with no copyrights.</p>
        </div>
        <div class="how-to-use-section">
            <h2>Find the moment of drop</h2>
            <p>In this video find the exact moment of drop, chorus, or just the brightest part of the song.
            Paste link with specified start timeYouTube allows you to share link with specified start time. Click Share and check “Start: XX:XX” checkbox.</p>
        </div>
        <div class="how-to-use-section">
            <h2>Set the time when you want drop to be played</h2>
            <p>Now you should set the time, when drop must kick in. For example, 0:00 1st January - to celebrate New Year.</p>
        </div>
        <div class="how-to-use-section">
            <h2>Relax and wait</h2>
            <p>Everything is ready to make your special moment even more special. All you need - just wait for it!</p>
        </div>
        <a class="nav-link2" href="/">To main page</a>
    </div>
</body>
</html>
