<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SyncBeat</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/images/logo.svg" type="image/svg+xml">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto+Flex:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="index-container">
        <header>
            <nav>
                <a class="nav-link" href="/howtouse">How to use</a>
                <h1 >SyncBeat</h1>
                <div class="auth-links">
                    {% if user %}
                        <p class="nav-link">Hello, {{ user.username }}!</p>
                        <a class="nav-link" href="/profile">Profile</a>
                        </form>
                    {% else %}
                        <div class="register-login">
                            <a class="nav-link" href="/login">Sign In</a>
                        </div>
                    {% endif %}
                </div>
            </nav>
        </header>
        
        <div>
            <h2 class="curtime">Current Time</h2>
            <p id="current-time"></p>
        </div>

        <div class="main-content"> <!-- Добавлено -->
            <div class="input-group"> <!-- Добавлено -->
                <input type="text" id="youtube-link" placeholder="Paste link:"> <!-- Изменено -->
                <input type="text" id="video-timer" placeholder="Set time:"> <!-- Изменено -->
            </div> <!-- Добавлено -->
            <button class="btn" id="set-timer">Set Time</button>
            <button  class="btn" id="play-youtube-video">Play</button>
        </div> <!-- Добавлено -->
        
        <div id="fixed-video-player" class="video-playing">
            <iframe id="fixed-video-iframe" width="800" height="600" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div id="video-overlay">Your music will play here</div>
        </div>

        <div class="like-section">
            <p>Say "Thanks" to developers:</p>
            <div class="like-container">
                <button id="like-button">
                    <svg class="like-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M15.03 9.684h3.965c.322 0 .64.08.925.232.286.153.532.374.717.645a2.109 2.109 0 0 1 .242 1.883l-2.36 7.201c-.288.814-.48 1.355-1.884 1.355-2.072 0-4.276-.677-6.157-1.256-.472-.145-.924-.284-1.348-.404h-.115V9.478a25.485 25.485 0 0 0 4.238-5.514 1.8 1.8 0 0 1 .901-.83 1.74 1.74 0 0 1 1.21-.048c.396.13.736.397.96.757.225.36.32.788.269 1.211l-1.562 4.63ZM4.177 10H7v8a2 2 0 1 1-4 0v-6.823C3 10.527 3.527 10 4.176 10Z" clip-rule="evenodd"/>
                    </svg>                                   
                </button>
                <span id="total-like-count">{% if total_like_count == 0 %}0{% else %}{{ total_like_count }}{% endif %}</span>
            </div>
        </div>

    </div>

    <script>
        const likeButton = document.getElementById("like-button");
        const totalLikeCount = document.getElementById("total-like-count");
        const youtubeLinkInput = document.getElementById("youtube-link");
        const playYoutubeVideoButton = document.getElementById("play-youtube-video");
        const videoContainer = document.getElementById("video-container");
        const currentTimeDisplay = document.getElementById("current-time");
        const setTimerButton = document.getElementById("set-timer");
        const timerInput = document.getElementById("video-timer");
        let timerId;

        const fixedVideoPlayer = document.getElementById("fixed-video-player");
        const fixedVideoIframe = document.getElementById("fixed-video-iframe");

        function playVideoInFixedPlayer(videoId) {
            fixedVideoIframe.src = `https://www.youtube.com/embed/${videoId}?autoplay=1`;
            fixedVideoPlayer.style.display = "block";
        }

        function hideFixedVideoPlayer() {
            fixedVideoPlayer.style.display = "none";
        }

        function updateTotalLikeCount(count) {
            totalLikeCount.textContent = count;
        }

        async function fetchTotalLikes() {
            const response = await fetch('/total-likes');
            const data = await response.json();
            updateTotalLikeCount(data.total_likes);
        }

        fetchTotalLikes();

        const userId = "{{ user.id }}";
        const ws = new WebSocket(`ws://localhost:8000/ws/like?user_id=${userId}`);

        ws.onmessage = function(event) {
            const count = parseInt(event.data);
            updateTotalLikeCount(count);
        };

        likeButton.addEventListener("click", function() {
            ws.send("like");
        });

        playYoutubeVideoButton.addEventListener("click", function() {
        const youtubeLink = youtubeLinkInput.value;
        const url = new URL(youtubeLink);
        const videoId = url.searchParams.get("v");
        const startTimeParam = url.searchParams.get("t");
        let startTimeInSeconds = 0;
        if (startTimeParam) {
            const match = startTimeParam.match(/(\d+)s/);
            if (match) {
                startTimeInSeconds = parseInt(match[1]);
            }
        }

        if (videoId) {
            playVideoInFixedPlayer(videoId);
        } else {
            alert("Invalid YouTube video link. Please provide a valid link.");
        }
        });


        setTimerButton.addEventListener("click", function() {
            const videoTimeInput = timerInput.value;
            const videoTimeParts = videoTimeInput.split(":");
            const hours = parseInt(videoTimeParts[0]);
            const minutes = parseInt(videoTimeParts[1]);

            const youtubeLink = youtubeLinkInput.value;
            const url = new URL(youtubeLink);
            const startTimeParam = url.searchParams.get("t");
            let startTimeInSeconds = 0;
            if (startTimeParam) {
                const match = startTimeParam.match(/(\d+)s/);
                if (match) {
                    startTimeInSeconds = parseInt(match[1]);
                }
            }

            const videoStartTime = new Date();
            videoStartTime.setHours(hours);
            videoStartTime.setMinutes(minutes);
            videoStartTime.setSeconds(0);

            const adjustedStartTime = videoStartTime.getTime() - startTimeInSeconds * 1000;

            const now = new Date().getTime();
            const difference = adjustedStartTime - now - 2;

            if (difference > 0) {
                clearTimeout(timerId);
                timerId = setTimeout(playVideoAfterTimeout, difference);
                const formattedTime = `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}`;
                alert(`Drop will start at ${formattedTime}`);
            } else {
                alert("Please enter a valid future time for video start.");
            }
        });

        function playVideoAfterTimeout() {
            const youtubeLink = youtubeLinkInput.value;
            const url = new URL(youtubeLink);
            const videoId = url.searchParams.get("v");
            playVideoInFixedPlayer(videoId);
        }

        function updateCurrentTime() {
            const currentTime = new Date();
            const hours = currentTime.getHours().toString().padStart(2, '0');
            const minutes = currentTime.getMinutes().toString().padStart(2, '0');
            const seconds = currentTime.getSeconds().toString().padStart(2, '0');
            const formattedTime = `${hours}:${minutes}:${seconds}`;
            currentTimeDisplay.textContent = formattedTime;
        }

        setInterval(updateCurrentTime, 1000);

        updateCurrentTime();
    </script>
</body>
</html>
