<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/images/logo.svg" type="image/svg+xml">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto+Flex:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form id="login-form" class="form-center">
            <label for="username">Имя пользователя:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Пароль:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <button type="submit">Войти</button>
            <p style="text-align: center;">Еще нет аккаунта? <a class="nav-link" href="/register">Зарегистрироваться</a></p>
        </form>
    </div>
    <script>
        document.getElementById('login-form').addEventListener('submit', async function(event) {
            event.preventDefault();

            const formData = {
                username: document.getElementById('username').value,
                password: document.getElementById('password').value
            };

            try {
                const response = await fetch('/auth/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formData)
                });

                if (!response.ok) {
                    throw new Error('Ошибка при входе');
                }

                window.location.href = "/"; // Redirect to home page
            } catch (error) {
                console.error(error);
                alert('Произошла ошибка при входе');
            }
        });
    </script>
</body>
</html>
