/* profile */
.index-container {
    max-width: 800px;
    text-align: center;
    padding: 20px;
}

/* Existing styles remain unchanged */

/* howtouse */
body {
    font-family: 'Roboto Flex', sans-serif;
    background-color: #191C21;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;

    background-image: url('/static/images/Wallpaper.jpg');
    background-size: cover; /* Растягивает изображение на всю область фона */
    background-repeat: no-repeat; /* Запрещает повторять изображение */
    background-position: center top; 
}

.how-to-use-container {
    max-width: 800px;
    text-align: left;
}

.how-to-use-container h1 {
    font-family: 'Manjari', sans-serif;
    font-size: 3rem;
    color: #00bfff;
    text-align: center;
    margin-bottom: 30px;
}

.how-to-use-container h2 {
    font-family: 'Manjari', sans-serif;
    color: #00bfff;
    line-height: 0.2;
    margin-top: 50px;
}

.how-to-use-container p {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1rem;
}

.how-to-use-section {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.4rem;
    color: #fff;
}

#current-time {
    font-size: 5rem;
    line-height: 1rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ffffff;
}

.logout-form {
    width: 100px;
 
}

.btn-logout {
    background-color: #00bfff;
    color: white;
    display: block; /* Изменение на блочное отображение *//* Центрирование кнопок по горизонтали */
    cursor: pointer;
    width: 100px; /* Фиксированная ширина кнопок */
}

/* login и register */
form {
    background-color: #333;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    margin: 0 auto; /* Центрирование формы по горизонтали */
    text-align: left; /* Центрирование содержимого формы */
}


label {
    color: #fff;
    font-size: 1rem;
    margin-left: 16px;
    margin-bottom: 5px; /* Отступ между метками и полями ввода */
}
.small-text {
    font-size: 1rem;
}

.centered {
    text-align: center;
}

.center_object {
    display: inline-block;
}

input {
    background-color: #444;
    border: 2px solid #00bfff;
    color: #fff;
    padding: 10px;
    border-radius: 16px;
    width: calc(100% - 24px); /* Установим ширину поля ввода, учитывая внутренние отступы */
    margin-bottom: 24px; /* Отступ снизу */
}

.last_btn {
    margin-bottom: 10px;
}

button {
    background-color: #00bfff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
    width: 100%;
}


/* index */

.container {
    text-align: center;
    width: 80%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    position: relative; /* Добавлено */
}

.index-container h1 {
    font-family: 'Manjari', sans-serif;
    font-size: 3rem;
    color: #00bfff;
    position: absolute; /* Добавлено */
    left: 50%; /* Добавлено */
    transform: translateX(-50%); /* Добавлено */
}


.nav-link {
    font-family: 'Manjari', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-link2 {
    color: #00bfff;
    text-decoration: none;
}

.back_to_main {
    font-family: 'Manjari', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    margin-bottom: 20px; 
}
 

.main-content {
    margin: 50px 0;
}

.input-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.input-group input {
    background-color: #333;
    border: 2px solid #00bfff;
    color: #fff;
    padding: 10px;
    margin: 0 10px;
    border-radius: 16px;
    width: 225px;
}

.btn {
    background-color: #00bfff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    /* display: block; Изменение на блочное отображение */
    font-size: 16px;
    margin: 4px 10px; /* Центрирование кнопок по горизонтали */
    cursor: pointer;
    border-radius: 16px;
    width: 250px; /* Фиксированная ширина кнопок */
}

.like-container {
    display: flex; /* Добавим контейнеру свойство flex для использования flexbox */
    align-items: center; /* Выровняем элементы по вертикали */
}

.like-section {
    display: flex; /* Добавим контейнеру свойство flex */
    justify-content: center; /* Выровняем элементы по центру по горизонтали */
}

#like-button {
    background-color: transparent; /* Прозрачный фон */
    border: none;
    padding: 5px; /* Уменьшим внутренний отступ */
    cursor: pointer;
    width: fit-content; /* Ширина кнопки подстраивается под содержимое */
}

#like-button {
    background-color: transparent; /* Прозрачный фон */
    border: none;
    padding: 5px; /* Уменьшим внутренний отступ */
    cursor: pointer;
    width: fit-content; /* Ширина кнопки подстраивается под содержимое */
}
 

#total-like-count {
    font-size: 1.5rem;
    color: #00bfff;
    margin-left: 5px; /* Добавим небольшой отступ слева */
}

#fixed-video-player {
    position: relative;
    max-width: 100%;
    max-height: 90%;
    border-radius: 16px;
    margin-bottom: 20px;

    width: 800px; /* Установим фиксированную ширину */
 
}

#fixed-video-player::after {
  /* Добавлен плейсхолдер текста */
    position: absolute;
    top: 50%; /* Разместим текст по центру вертикали */
    left: 50%; /* Разместим текст по центру горизонтали */
    transform: translate(-50%, -50%); /* Центрируем текст относительно родительского контейнера */
    color: #00bfff; /* Цвет текста */
}

